body{
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
}
*{
 box-sizing: border-box;   
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerContainer1{
    padding: 20px;
    background-color: rgba(200, 199, 212, 0.966);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

}
.innerContainer1 label, .innerContainer1 input{
    padding: 5px;
    font-size: 17px;
}
.innerContainer1 button{
    background-color: white;
    border:none;
    padding: 5px;
    outline: none;
    margin-top: 10px;
   
}
.innerContainer1 button:hover{
    background-color: rgb(123, 123, 214);
    font-weight: bold;

}
.innerContainer2{
    padding: 20px;
    background-color: rgba(200, 199, 212, 0.966);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;

}
.innerContainer3{
    padding: 20px;
    background-color: rgba(242, 241, 245, 0.966);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;


}
#table1 th, #table1 th,#table1 tr td input,#table1 tr td select{
    padding: 5px;

}
#table2 th,#table2 td,th {
    padding: 7px;

}
#addRow,#submit2{
    padding: 5px;
    float: right;
    margin: 5px;
}